* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    background-color: darkgrey;
    color: green;
}

h1 {
    text-emphasis: bold;
    color: mintcream;
    text-align: center;
    font-size: 40px;
}

.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid mintcream;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    margin: 5px;
}